<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You have reached the end of the Internet</h1>
        <br />
        <a class="btn btn-outline-info" asp-controller="Movies" asp-action="Index"><i class="bi bi-arrow-90deg-left"></i>   Go Back to Movies</a>
    </div>
</div>