@using eTickets.Entities
@model List<Order>;

@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your Orders: </h4>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th class="justify-content-center text-center">Order ID</th>
                    <th class="justify-content-center text-center">Items</th>
                    <th class="justify-content-center text-center">Total</th>
                    <th class="justify-content-center text-center">User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="justify-content-center text-center">@order.Id</td>
                        <td class="justify-content-center text-center">
                            <ul style="list-style-type: none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Movie.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="justify-content-center text-center">
                            @order.OrderItems.Select(m => m.Movie.Price * m.Amount).Sum().ToString("c")
                        </td>
                        <td class="justify-content-center text-center">N/A</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>